@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<div class="content">
    <div class="add">
        <a asp-controller="incorporator" asp-action="addincorporator">Добавить</a>
    </div>
    <table class="content-table">
    </table>
</div>

<script type="text/javascript" src="/js/incorporator.js" charset="utf-8"></script>