@using Teledoc.Domain.Models;
@model IEnumerable<Founder>?


@if (Model != null && Model.Count() > 0)
{
<table>
    <thead>
        <tr>
            <th>ИНН</th>
            <th>ФИО</th>
            <th>Дата создания</th>
            <th>Дата изменения</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
        <tr>
            <td>@client.Inn</td>
            <td>@client.FullName</td>
            <td>@client.CreateDate</td>
            <td>@client.UpdateDate</td>
        </tr>
        }
    </tbody>
</table>
}
