@using TeledocApp.ViewModels;
@model AddClientForm
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<form asp-controller="client" asp-action="addclient"> 
    <div class="input-block">
        <input required asp-for="Inn" placeholder="ИНН" />
        <span asp-validation-for="Inn"></span>
    </div>
    <div class="input-block">
        <input required asp-for="Name" placeholder="Название" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="input-block">
        <select asp-for="ClientType">
            <option value="IndividualPerson">ИП</option>
            <option value="LegalEntity">Юридическое лицо</option>
        </select>
    </div>
    <div class="input-block">
        <input required asp-for="FounderInn" placeholder="ИНН Учредителя" />
        <span asp-validation-for="FounderInn"></span>
    </div>
    <input type="submit"/>
</form>