@using TeledocApp.ViewModels;
@model IncorporatorTableViewModel


@if (Model.Incorporators != null && Model.Incorporators.Count() > 0)
{
<table>
    <thead>
        <tr>
            <th>ИНН</th>
            <th>ФИО</th>
            <th>Дата создания</th>
            <th>Дата изменения</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model.Incorporators)
        {
        <tr>
            <td>@client.Inn</td>
            <td>@client.FullName</td>
            <td>@client.CreateDate</td>
            <td>@client.UpdateDate</td>
        </tr>
        }
    </tbody>
</table>
}
